{{sectionHeading "#intl"}}

<p>
    Generally speaking, you should not need to use the {{code "{{#intl}}"}} block helper to load locales or messages. This can be done by passing in the {{code "intl"}} object as part of the {{code "data"}} object when evaluating a compiled template. Consider the code snippet below:
</p>

{{#code "js"}}
var html = template(context,  {data: {intl: myIntlObject}});
{{/code}}

<p>
    However, if needed, you can use the {{code "{{#intl}}"}} block helper to set up the specific locale or load in any custom messages that your helpers will be using. In this case, you will need to nest the {{code "intl"}} object within your {{code "context"}} object, as in the example below.
</p>

<h3>Example</h3>
<p>
    The {{code "{{#intl}}"}} block helper isn't meant to be used alone, but used to help organize and group together the other helpers.
</p>

<p>Template:</p>
{{#code "generic"}}
{{{examples.intl.source}}}
{{/code}}

<p>JavaScript:</p>
{{#code "js"}}
var context = {
    intl: {
        messages: {
            TRAVEL: "{firstName} {lastName} will travel to Peru on {travelDate, date, long} for {price, number, USD}."
        },
        formats: {
            number: {
                EUR: {currency: "EUR", style: "currency"},
                USD: {currency: "USD", style: "currency"}
            }
        },
        locale: "en-US"
    },
    user: {
        firstName: "Tilo",
        lastName: "Mitra",
        travelDate: new Date(),
        price: 465
    }
};

//`source` represents the contents of the Handlebars template.
var template = Handlebars.compile(source);
var html = template(context);
{{/code}}

<p>Rendered Output:</p>

<div class="example">
    {{{examples.intl.rendered}}}
</div>

<h3>Hash Arguments (optional)</h3>
<dl class="parameters-list">
    <dt>{{code "locales: String"}}</dt>
    <dd>The locale of the value as a <a href="http://tools.ietf.org/html/rfc5646">BCP 47 language tag</a>.</dd>

    <dt>{{code "messages: Object"}}</dt>
    <dd>A JavaScript object with its keys linking to custom formatted message strings, meant to be passed in to the Intl.MessageFormat library. <a href="/javascript/#messageformat-strings">Find out more</a> about how to construct templatized messages.</dd>

    <dt>{{code "formats: Object"}}</dt>
    <dd>A JavaScript object with its keys linking to custom formats for numbers, currency, or dates, meant to be passed in to the Intl.MessageFormat library. <a href="/javascript/#messageformat-strings">Find out more</a> about how to construct custom formats.</dd>
</dl>

