{{sectionHeading "intlMessage"}}

<h3>Examples</h3>

<h4>Using a context object</h4>
<p>
    When formatting a string, you can pass in an object that contains the data that you want to format. We call this the {{code "context"}} object. The following example explains how to use a context to format a string.
</p>

<p>Template:</p>
{{#code "generic"}}
{{{examples.books.source}}}
{{/code}}

<p>Context:</p>
{{#code "js"}}
{
    intl: {
        messages: {
            USER_HAS_BOOKS: "{firstName} {lastName} has {numBooks, number, integer} {numBooks, plural, one {book} other {books}}."
        }
    },
    user: {
        firstName: "Tilo",
        lastName: "Mitra",
        numBooks: 20
    }
}
{{/code}}

<p>Rendered Output:</p>

<div class="example">
    {{{examples.books.rendered}}}
</div>


<p>Use the {{code "intlMessage"}} helper to format strings for different locales. Remember to use the {{code "{{#intl}}"}} helper to properly set any custom message formats or locales you wish to use.</p>

<h3>Required Parameter</h3>
<dl class="parameters-list">
    <dt>{{code "value: String"}}</dt>
    <dd>The message that you want to format. <a href="/javascript/#messageformat-strings">Find out more</a> about how to construct templatized messages.</dd>
</dl>

<h3>Hash Arguments (optional)</h3>
<p>
    Other parameters can be passed into {{code "intlMessage"}} as key/value pairs via the {{code "context"}} object. The examples below demonstrate how you can format strings by modifying the properties of the {{code "context"}} object.
</p>


