<p>
    <b>{{formatRelative postDate}}</b> <i>(best fit)</i><br>
    <b>{{formatRelative postDate style="numeric"}}</b> <i>(numeric)</i>
</p>
<p>
    <b>{{formatRelative commentDate}}</b> <i>(default)</i><br>
    <b>{{formatRelative commentDate units="minute"}}</b> <i>(in minutes)</i>
</p>
<p>
    <b>{{formatRelative meetingDate}}</b> <i>(rounded)</i><br>
    <b>{{formatRelative meetingDate units="minute"}}</b> <i>(in minutes)</i>
</p>
