{{setTitle "Dust Helpers for Internationalization"}}
<h1>Dust Helpers for Internationalization</h1>

<p>
    If you're using the <a href="http://linkedin.github.io/dustjs/">Dust templating engine</a>, the Dust Internationalization Helpers are an easy way to internationalize your templates.
</p>

<p>This module clocks in at {{helperSize}} minified and compressed.</p>

<aside>
    <p>
        <strong>Note:</strong> Interested in localizing strings on the client-side? Check out this <a href="/start/handlebars/">step-by-step walkthrough</a>.
    </p>
</aside>

{{sectionHeading "Installation"}}

<p>
    You can install the {{code "dust-helper-intl"}} module through <a href="http://bower.io">Bower</a> on the client side.
</p>

{{#code "shell"}}
$ bower install dust-helper-intl
{{/code}}

<p>
    Alternatively, you can install via <a href="http://npmjs.org">npm</a> on the server.
</p>

{{#code "shell"}}
$ npm install dust-helper-intl
{{/code}}

<aside>
    <p>
        <strong>Note:</strong> When working with the client-side version of this helper, make sure that {{code "window.Intl"}} is
        available, otherwise you'll need to install a polyfill. For more information check out the <a href="/browser#browser-compatibility">browser compatibility chart</a>.
    </p>
</aside>

<p>
    When serving the content on your page, you need to ensure that {{code "intl-messageformat.js"}} and {{code "dustjs-linkedin.js"}} are loaded before the Dust helpers. These modules can also be installed via Bower and npm as well.
</p>

{{#code "html"}}
<script src="intl-messageformat.js"></script>
<script src="dustjs-linkedin.js"></script>
<script src="dust-helper-intl.js"></script>
{{/code}}

<p>
    Once the scripts have loaded, you have to register the helpers so that they can be used in your project.
</p>

{{#code "js"}}
DustHelperIntl.register(dust);
{{/code}}

<p>Now, you're ready to start internationalizing your Dust templates!</p>

<hr class="rule">

{{> dust/intlDate}}

<hr class="rule">

{{> dust/intlNumber}}

<hr class="rule">

{{> dust/intlMessage}}

<hr class="rule">
<aside>
    <p>
        <strong>Note:</strong> The <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl">Mozilla Developer Network</a> provides
        excellent
        documentation about the underlying {{code "Intl"}} API's.
    </p>
</aside>
