{{setTitle "GitHub"}}

<section class="head">
    {{> nav}}
</section>

<section class="main l-wrap">
    <h1>Everything is on GitHub</h1>

    <p class="docs">
        All of the packages that make up {{brand}} are open-source and available on GitHub. Instead of having one large repository, there are several smaller repositories; one per package.
    </p>

    <h2 id="integrations">Integration Libraries</h2>

    <p class="docs">
        These are the main packages that web apps will depend on since they contain all of the Core Libraries plus an integration layer with a template or component system.
    </p>

    <div class="repos">
        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/handlebars-intl">Handlebars Helper Intl</a>
            </h3>
            <div class="repo-badges">
              {{#with "handlebars-intl"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Handlebars helpers for internationalization.
            </p>
        </div>

        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/react-intl">React Intl</a>
            </h3>
            <div class="repo-badges">
              {{#with "react-intl"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                ReactJS mixin for internationalization.
            </p>
        </div>

        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/dust-helper-intl">Dust Helper Intl</a>
            </h3>
            <div class="repo-badges">
              {{#with "dust-helper-intl"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Dust helpers for internationalization.
            </p>
        </div>
    </div>

    <h2 id="core">Core Libraries</h2>

    <p class="docs">
        This set of libraries makes up the core of the {{brand}} system. These packages provide features beyond what's built into the modern JavaScript runtimes. While the features these packages provide aren't specified in ECMA-402, they were developed on top of ECMAScript, ICU, and CLDR standards in a future-focused way.
    </p>

    <div class="repos">
        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/intl-format-cache">Intl Format Cache</a>
            </h3>
            <div class="repo-badges">
              {{#with "intl-format-cache"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Produces instances of JavaScript Intl formats, and caches them for reuse.
            </p>
        </div>

        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/intl-messageformat">Intl MessageFormat</a>
            </h3>
            <div class="repo-badges">
              {{#with "intl-messageformat"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Format a string with placeholders, including plural and select support to create localized messages.
            </p>
        </div>

        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/intl-messageformat-parser">Intl MessageFormat Parser</a>
            </h3>
            <div class="repo-badges">
              {{#with "intl-messageformat-parser"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Parses ICU message strings to an AST that can be used to format the messages for a person's locale.
            </p>
        </div>
    </div>

    <h2 id="polyfills">Polyfills</h2>

    <p class="docs">
        These libraries provide polyfills to "patch" the runtime in older JavaScript environments which don't have implementations of the latest ECMAScript standards.
    </p>

    <div class="repos">
        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/andyearnshaw/Intl.js">Intl.js</a>
            </h3>
            <div class="repo-badges">
              {{#with "intl"}}
                {{> npm-badge}}
              {{/with}}
            </div>
            <p class="repo-description">
                Compatibility implementation of the ECMAScript Internationalization API (ECMA-402) for JavaScript. <b>Developed by <a href="https://github.com/andyearnshaw">Andy Earnshaw</a></b>
            </p>
        </div>
    </div>

    <h2 id="website">Website</h2>

    <p class="docs">
        This website itself is open source and uses all parts of the {{brand}} system that it documents! We are always looking for help making the documentation better, adding new examples, and help translating examples.
    </p>

    <div class="repos">
        <div class="repo">
            <h3 class="repo-name">
                <a href="https://github.com/yahoo/formatjs-site">{{brand}}</a>
            </h3>
            <p class="repo-description">
                Documentation for client/server internationalization in JavaScript.
            </p>
        </div>
    </div>

    <div class="docs">
        <h2>Filing Issues</h2>

        <p>
            If you wish to file an issue, you can do so on the specific package's GitHub repository. Try to be descriptive when filing issues, as it makes it easier for us to debug.
        </p>

        <h2>Submitting Pull Requests</h2>

        <p>
            Pull requests are very welcome, but should be within the scope of the project, and follow the repository's code conventions. Before submitting a pull request, it's always good to file an issue, so we can discuss the details of the PR.
        </p>

        <h3>The Yahoo CLA</h3>

        <p>
            At Yahoo, we have a single <a href="https://yahoocla.herokuapp.com"><b>Yahoo Open Source Contributor License Agreement</b></a> that we ask contributors to <b>electronically sign</b> before merging in their Pull Requests. Here's the CLA's human-readable summary:
        </p>
        <blockquote>
            <p>
                <i>You are saying that you have the right to give us this code, which is either your own code, or code that your company allows you to publish. You want to give us this code. We may decide to use this code. You are not going to sue people who use this code, because, after all, you are giving it to an open source project! And if you include code that you didn't write, you'll tell us about it by including the open source license to such code in your contribution so we'll know about it. You are not promising that this code works well, or that you will support it, and we're OK with that.</i>
            </p>
        </blockquote>
    </div>
</section>
