{{setTitle "Guide"}}

<section class="head">
    {{> nav}}
</section>

<section class="main docs l-wrap">
    <h1>Guide</h1>

    <h2>What is Internationalization and why does it matter?</h2>

    <p>
        Internationalization is the process of adapting and conforming content to different locales by translating text and formatting data. The Web reaches people in all parts of the World and in order to provide the most number of people access to information and a great user experience, web apps need to be internationalized.
    </p>

    <p>
        {{brand}} strives to handle the runtime formatting task of internationalization in JavaScript by building on industry standards and providing integrations with popular template/component libraries.
    </p>

    <h2 id="builtin-intl">JavaScript Built-in {{code "Intl"}} APIs</h2>

    <p>
        As of ECMAScript 5.1 and the ECMA-402 Internationalization spec., JavaScript has an <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl">{{code "Intl"}}</a> namespace that contains the following APIs:
    </p>

    <ul>
        <li>
            <p>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Collator">{{code "Intl.Collator"}}</a>
            </p>
        </li>
        <li>
            <p>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat">{{code "Intl.DateTimeFormat"}}</a>
            </p>
        </li>
        <li>
            <p>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat">{{code "Intl.NumberFormat"}}</a>
            </p>
        </li>
    </ul>

    <h3 id="browser-support">Browser Support</h3>

    <h3 id="nodejs">Node.js</h3>

    <h3 id="intl-polyfill">Intl.js Polyfill</h3>

    <h2 id="formatting-numbers">Formatting Numbers</h2>

    <h2 id="formatting-dates-and-times">Formatting Dates and Times</h2>

    <h2 id="formatting-translated-strings">Formatting Translated Strings</h2>

    <h3 id="icu-message-syntax">ICU Message Syntax</h3>

    <h2 id="determining-locale">Determining a Person's Locale</h2>

    <h3 id="content-negotiation">HTTP Content Negotiation</h3>

    <h2 id="loading-polyfill-and-locale-data">Loading Intl.js Polyfill and Locale Data</h2>

    <h3>In the Browser</h3>

    <h4>Conditionally Loading via {{code "&lt;script&gt;"}} Loader</h4>

    <h3>In Node.js</h3>

    <h2>Integrate with Template/View Layer</h2>
    {{> integrations-list}}

</section>
