{{setTitle "IntlJS Handlebars Helpers"}}

<h1>Handlebars Helpers for Internationalization</h1>

<p>
    If you're using the <a href="http://handlebarsjs.com/">Handlebars templating engine</a>, the Handlebars Internationalization Helpers are an easy way to internationalize your templates.
</p>

<aside>
    <p>
        <strong>Note:</strong> Interested in localizing strings on the client-side? Check out this <a href="/quickstart/handlebars/">step-by-step walkthrough</a>.
    </p>
</aside>

{{sectionHeading "Installation"}}

<p>
    You can install the {{code "handlebars-helper-intl"}} module through <a href="http://bower.io">Bower</a> on the client side.
</p>

{{#code "shell"}}
$ bower install handlebars-helper-intl
{{/code}}

<p>
    Alternatively, you can install via <a href="http://npmjs.org">npm</a> on the server.
</p>

{{#code "shell"}}
$ npm install handlebars-helper-intl
{{/code}}

<p>
    When serving the content on your page, you need to ensure that {{code "intl-messageformat.js"}} and {{code "handlebars.js"}} are loaded before the Handlebars helpers. These modules can also be installed via Bower and npm as well.
</p>

{{#code "html"}}
<script src="intl-messageformat.js"></script>
<script src="handlebars.js"></script>
<script src="handlebars-helper-intl.js"></script>
{{/code}}

<p>
    Once the scripts have loaded, you have to register the helpers so that they can be used in your project.
</p>

{{#code "js"}}
HandlebarsHelperIntl.registerWith(Handlebars);
{{/code}}

<p>Now, you're ready to start internationalizing your Handlebars templates!</p>

{{sectionHeading "Overview"}}

<p>
    The Handlebars internationalization helpers look similar to the <a href="/dust/">Dust</a> and <a href="/react/">React</a> helpers. There are three primary helpers:
    <ul>
        <li><a href="#intldate">{{code "intlDate"}}</a> for date formatting</li>
        <li><a href="#intlnumber">{{code "intlNumber"}}</a> for number formatting</li>
        <li><a href="#intlmessage">{{code "intlMessage"}}</a> for string formatting</li>
    </ul>
</p>

<hr class="rule">

{{> handlebars/intl}}

<hr class="rule">

{{> handlebars/intlDate}}

<hr class="rule">

{{> handlebars/intlNumber}}

<hr class="rule">

{{> handlebars/intlMessage}}
