<section class="splash">
    {{> nav}}

    <div class="splash-content l-wrap">
        <h1 class="tagline">Internationalize your web apps on the client &amp; server.</h1>

        <div class="splash-example-container">
            {{{examples.splash}}}
        </div>

        <p class="splash-cta">
            <a class="splash-cta-button pure-button" href="{{pathTo 'guide'}}">
                Get Started
            </a>
        </p>
    </div>
</section>

<section class="standards docs">
    <div class="l-wrap">
        <h2>Built on standards.</h2>

    </div>
</section>

<section class="integrations docs">
    <div class="l-wrap">
        <h2>Integrates with other libraries.</h2>

        <ul class="libs-list">
            <li class="libs-list-item">
                <a href="{{pathTo 'handlebars'}}">
                    <h3 class="libs-list-name">Handlebars</h3>
                    <img class="libs-list-mark" src="/img/handlebars.png">
                </a>

            </li>

            <li class="libs-list-item">
                <a href="{{pathTo 'react'}}">
                    <h3 class="libs-list-name">React</h3>
                    <img class="libs-list-mark" src="/img/react.svg">
                </a>
            </li>

            <li class="libs-list-item">
                <a href="{{pathTo 'dust'}}">
                    <h3 class="libs-list-name">Dust</h3>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="features docs">
    <div class="l-wrap">
        <h2>Formats numbers, dates, and complex messages.</h2>

        <h2>Modular, and ready to use.</h2>

        <h2>Runs in the browser and Node.js.</h2>
    </div>
</section>
