<h1>Quickstart for Internationalization in Node</h1>

<p>
For application developers, it's recommended to use the helpers for the template engine of your choice, rather than using {{code "intl-messageformat"}} directly.
</p>

<p>
For this quickstart example, we'll be using the <a href="https://www.npmjs.org/package/handlebars-helper-intl">helpers</a> for the <a href="http://handlebarsjs.com">Handlebars</a> template engine, though we also have <a href="https://www.npmjs.org/package/dust-helper-intl">helpers</a> available if you're using <a href="http://akdubya.github.io/dustjs/">Dust</a> templates too.
</p>

<h2>Installation</h2>

<p>
Install the helpers and the Intl polyfill from {{code "npm"}} using:
</p>

{{#code "bash"}}
npm install handlebars-helper-intl intl
{{/code}}

<p>
Then, inside your application, you can use the helpers like this:
</p>

{{#code "js"}}
// Use native Intl object if possible - otherwise, use the polyfill
global.Intl = global.Intl || require('intl');
global.IntlMessageFormat = require('intl-messageformat')

var Handlebars = require('handlebars'),
    hbsIntl    = require('handlebars-helper-intl');

// Register the Handlebars helpers with the Handlebars object
hbsIntl.registerWith(Handlebars);
{{/code}}

<p>
Now, let's set up our Express application:
</p>

{{#code "js"}}
var express = require('express'),
    exphbs  = require('express3-handlebars'),

// Core Node modules to be used later
var fs   = require('fs'),
    path = require('path');

// Set up our Express app
var app = express();

// Set up our Handlebars engine with a default layout
app.set('view engine', 'handlebars');
app.engine('handlebars', exphbs({
    defaultLayout: 'main',
    handlebars   : Handlebars
}));
{{/code}}

<p>
Now that we have the core of our application set up, we can start
creating the content that we want to be translated. Create a new
folder called {{code 'i18n'}} in the current directory:
</p>

{{#code "bash"}}
$ mkdir i18n && cd i18n
{{/code}}

<p>
In here, we'll keep all of our translated strings as JSON objects.
To start off, we'll create our first translation strings in US English,
in a file called {{code 'en-US.json'}}:
</p>

{{#code "js"}}
{
  "TITLE": "Your Personal Bookstore",
  "USER_HAS_BOOKS": "{firstName} {lastName} has {numBooks, number, integer} {numBooks, plural, one {book} other {books}}.",
  "USER_WILL_SELL": "{firstName} will sell them on {dateBooks, date, long} for {price, number, USD}."
}
{{/code}}

<p>
And similarly, the exact same thing in French, in a file called {{code 'fr-CA.json'}}:
</p>

{{#code "js"}}
{
  "TITLE": "Votre Librarie Personnelle",
  "USER_HAS_BOOKS": "{firstName} {lastName} a {numBooks, number, integer} {numBooks, plural, one {livre} other {livres}}.",
  "USER_WILL_SELL": "{firstName} les vendra le {dateBooks, date, long} pour {price, number, USD}."
}
{{/code}}

<p>Notice how the internationalized message format is handled for the special cases, such as numbers, currency, and dates.</p>

<p>
Now, let's start using these strings inside of our templates.
Go back into the parent directory and create a directory for our templates:
</p>

{{#code "bash"}}
$ cd ..
$ mkdir views && cd views
$ mkdir layouts && cd layouts
{{/code}}

<p>
For our app, we can just create a simple layout to wrap around our main content.
Create a file called {{code 'main.handlebars'}}:
</p>

{{#code "html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

  \{{#intl locales=intl.locale messages=intl.messages}}
    <title>\{{intlMessage (intlGet "messages.TITLE")}}</title>
  \{{/intl}}
</head>

<body>
    \{{{body}}}
</body>
<html>
{{/code}}

<p>
Inside the {{code '\{{#intl}}'}} block is where we're setting the context for our locale
and our messages, which we'll later pass through when we render this template
with Express.
</p>

<p>
Notice how we're using the subexpression {{code 'intlGet'}} in order to fetch the {{code 'TITLE'}}
that we have in our translated strings.
</p>

<p>
Next, we'll set up our main content. Go back up one folder:
</p>

{{#code "bash"}}
$ cd ..
{{/code}}

<p>
And create a file called {{code 'index.handlebars'}}:
</p>

{{#code "html"}}
\{{#intl locales=intl.locale messages=intl.messages formats=intl.formats}}
<p>
    \{{intlMessage (intlGet "messages.USER_HAS_BOOKS")
            firstName=user.firstName
            lastName=user.lastName
            numBooks=user.numBooks}}
</p>

<p>
    \{{intlMessage (intlGet "messages.USER_WILL_SELL")
            firstName=user.firstName
            price=1000
            dateBooks=now}}
</p>
\{{/intl}}
{{/code}}

<p>
This template accesses our translated strings using the {{code 'intlGet'}} helper, and
then formats it as a internationalized message using the {{code 'intlMessage'}} helper.
</p>

<p>
The parameters passed into the {{code 'intlMessage'}} helper will be provided by Express
during the rendering step, which we'll implement next.
</p>

<p>
Finally, we'll open our {{code 'app.js'}} file once more. Add this to the bottom, after
where we set up our Handlebars engine:
</p>

{{#code "js"}}
app.set('locales', fs.readdirSync('./i18n/').filter(function (file) {
    return path.extname(file) === '.json';
}).map(function (file) {
    return path.basename(file, '.json');
}));

app.set('default locale', 'en-US');
{{/code}}

<p>
This will iterate through our {{code 'i18n'}} directory and examine all of translated
files. Since we're naming all of our translation files after the locale,
this gives us an array of all our supported locales, which we'll set as the
{{code 'locales'}} configuration property in our Express application.
</p>

<p>
We'll also set our default locale to {{code 'en-US'}}, which will be the fallback if
the browser has no locale that we currently support in our application.
</p>

<p>
Now that we have all of our different locales, we can begin to implement the
route that determines what locale an incoming request will accept, and to
render out the template properly. Underneath the code we just wrote, add our
route:
</p>

{{#code "js"}}
app.route('/')
   .get(function (req, res) {
       var app     = req.app,
            locales = app.get('locales'),
            locale  = req.acceptsLanguage(locales) || app.get('default locale');

        res.render('index', {
            intl: {
                locale  : locale,
                messages: require('./i18n/' + locale),

                formats: {
                    number: {
                        USD: {
                            style   : 'currency',
                            currency: 'USD'
                        }
                    }
                }
            },

            user: {
                firstName: 'John',
                lastName : 'Smith',
                numBooks : 2000
            },

            now: new Date()
        });

    });

app.listen(3000, function () {
    console.log('App started on port 3000');
});
{{/code}}

<p>
Now, run your application:
</p>

{{#code "bash"}}
$ node server.js
{{/code}}

<p>
When you visit {{code 'http://localhost:3000'}}, if you have the US English locale,
you should now see something like:
</p>

{{#code}}
John Smith has 2000 books.

John will sell them on June 11, 2014 for $1,000.00.
{{/code}}

<p>
Otherwise, if you have the French Canadian locale, you should see
something like this instead:
</p>

{{#code}}
John Smith a 2 000 livres.

John les vendra le 11 juin 2014 pour 1 000,00 $US.
{{/code}}
