{{setTitle "IntlJS React Helpers"}}

<h1>React Helpers for Internationalization</h1>

<p>
    If you're using <a href="http://facebook.github.io/react/">Facebook's React</a>, the React Intl Mixin are an easy way to internationalize your templates.
</p>

{{sectionHeading "Installation"}}

<p>
    You can install {{code "react-intl"}} through <a href="http://bower.io">Bower</a> on the client side.
</p>

{{#code "shell"}}
$ bower install react-intl
{{/code}}

<p>
    Alternatively, you can install via <a href="http://npmjs.org">npm</a> on the server.
</p>

{{#code "shell"}}
$ npm install react-intl
{{/code}}

<p>
    The browser distribution is bundled with <a href="https://github.com/yahoo/intl-messageformat">IntlMessageFormat</a>. You need to make sure that both React and the Intl polyfill are loaded before {{code "react-intl"}}.
</p>

{{#code "html"}}
<script src="path/to/react.js"></script>
<script src="path/to/bower_components/react-intl/dist/react-intl.min.js"></script>
{{/code}}

<p>
    Once the scripts have loaded, you can start using the mixin in your React components like this:
</p>

{{#code "js"}}
{{{examples.product.source}}}
{{/code}}

<p>Rendered result:</p>

<div class="example">
    {{{examples.product.rendered}}}
</div>

{{sectionHeading "Overview"}}

<p>
    The React Intl mixin is a simple wrapper on top of the standard Intl API. It adds three methods to your component:
    <ul>
        <li><a href="#component.intlDate">{{code "this.intlDate"}}</a> for date formatting</li>
        <li><a href="#component.intlNumber">{{code "this.intlNumber"}}</a> for number formatting</li>
        <li><a href="#component.intlMessage">{{code "this.intlMessage"}}</a> for string formatting</li>
    </ul>
</p>

<hr class="rule">

{{> react/locales}}

<hr class="rule">

{{> react/intlDate}}

<hr class="rule">

{{> react/intlNumber}}

<hr class="rule">

{{> react/intlMessage}}

<aside>
    <p>
        <strong class="upper">Note</strong> This page uses includes excerpts from the <a href="https://developer.mozilla.org/">Mozilla Developer Network website</a>.
    </p>
</aside>
